<!DOCTYPE html>
<html>

<head>
  <title>PaiMeshi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- google icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <%= render 'partial/header' %>

  <% if flash[:notice] %>
  <p class="bg-green-500 text-white text-center p-2 font-bold"><%= flash[:notice] %></p>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>
</body>

</html>
